.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.25rem;
  gap: 1.25rem;
  max-width: 100vw;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 5px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
  background: white;
  width: 18.75rem;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 10px rgba(0, 0, 0, 0.15);
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 27rem;
}

.card-image {
  height: 100%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}


.card-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-info {
  margin-bottom: 0.5rem;
}

.product-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
}


.price-stock {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c5aa0;
}

.quantity {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.stock {
  font-size: 0.75rem;
  color: #666;
}

.quantity-display {
  font-weight: 600;
  min-width: 1.25rem;
  text-align: center;
}

.add-to-cart-btn {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #1e3d6f;
}

.add-to-cart-btn:active {
  transform: translateY(0.0625rem);
}

